POSTGRES_USER=pguser    
POSTGRES_PASSWORD=my_secret_password
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_CONTAINER_NAME=postgres
PGADMIN_EMAIL=test@clips.com
PGADMIN_PASSWORD=my_secret_password
PGADMIN_PORT=8081
PGADMIN_CONTAINER_NAME=pgadmin
USE_MINIO_STORAGE=true
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET_NAME=clips
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=minio_root_password
MINIO_REGION=europe-west1
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_CONTAINER_NAME=minio
MINIO_ACCESS_KEY=console
MINIO_SECRET_KEY=console_access_key