# ===================================
# DJANGO
# ===================================
DJANGO_SECRET_KEY="il-tuo-secret-key-qui"
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1

# ===================================
# POSTGRESQL
# ===================================
POSTGRES_CONTAINER_NAME=AAAAAAAAA
POSTGRES_USER=root
POSTGRES_PASSWORD=AAAAA
POSTGRES_DB=cs-tok
POSTGRES_PORT=5432

# ===================================
# PGADMIN
# ===================================
PGADMIN_CONTAINER_NAME=pgadmin_container
PGADMIN_EMAIL=A@A.A
PGADMIN_PASSWORD=AAAAAAAAAA
PGADMIN_PORT=8080

# ===================================
# MINIO
# ===================================

USE_MINIO_STORAGE=true
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET_NAME=video
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=AAAAAA
MINIO_REGION=europe-west1
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_CONTAINER_NAME=minio
MINIO_ACCESS_KEY=AAAAA
MINIO_SECRET_KEY=AAAAAAAAA


# ===================================
# MINIO INIT
# ===================================

MINIO_STORAGE_MEDIA_BUCKET_NAME=video
MINIO_STORAGE_STATIC_BUCKET_NAME=video
MINIO_STORAGE_MEDIA_BACKUP_BUCKET=video-backup
MINIO_STORAGE_LOG_BUCKET=logs
# prova init bucket
MINIO_STORAGE_STICK_BUCKET=stick